/* Import external stylesheets */
@import url(https://frank-gp.github.io/icon/icomoon/style.css);
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Define root variables */
:root {
  --color1: white;
  --color2: #224;
  --hover: peru;
}

/* Box sizing for all elements */
* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  background-color: var(--color2);
  color: var(--color1);
  /* max-width: 120rem; */
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

/* Main container styles */
.main {
  max-width: 80em;
  margin: 10vh auto;
}

/* Anchor styles */
.a {
  text-decoration: none;
  color: inherit;
}

/* Image styles */
img {
  width: 100%;
}

/* Padding styles */
.p1 {
  padding: 1em;
}

.p2 {
  padding: 2em;
}

/* Text alignment center */
.tac {
  text-align: center;
}



