@import url(https://frankgp.com/icon/icomoon/style.css);
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

#fgp_header {
  display: block;
  color: white;
  background: indigo;
  padding: 1em;
  /* font: inherit; */
  font-family: "Work Sans", sans-serif;
  a {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    color: white;
  }
  ul {
    padding: 1em 0;
  }
  ul li {
    list-style: none;
    padding: 0 3vw;
    font-size: 1.2em;
    margin-top: 0.8em;
  }
  .btn_container {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
  }
  .btn_container .logo {
    display: flex;
    align-items: center;
    gap: 3em;
  }
  .btn_navbar {
    cursor: pointer;
    font-size: 1.5em;
  }
  .display_none {
    display: none;
  }
  .searchInput {
    outline: none;
    border-radius: 1em;
    border: none;
    padding: 0.6em 0 0.6em 2.5em;
    width: 100%;
  }
  .search_container {
    position: relative;
  }
  .search_container i {
    position: absolute;
    left: 0.5em;
    color: #0008;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (max-width: 30rem) {
    .mobile-none {
      display: none;
    }
  }
}
