:root {
  --color1: #654;
  --color2: ivory;
}

body {
  color: var(--color1);
  text-align: center;
  background-color: var(--color2);
  margin: 2rem auto 10rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  max-width: 120rem;
}
.btn {
  text-decoration: none;
  color: inherit;
  border: 2px solid;
  display: inline-block;
  padding: 0.5em 1em;
  margin: 1em;
}
.btn:hover {
  background-color: var(--color1);
  color: var(--color2);
}
.btn2 {
  border: none;
  border-bottom: 2px solid;
}

header img {
  width: 8em;
  height: 8em;
}
main {
  margin: auto;
  /* background-color: #000; */
  max-width: 80rem;
}

main .services {
  margin: 3em auto 3rem;
}
main .services li {
  line-height: 1.5;
}
main ol {
  max-width: 20rem;
  margin: auto;
  text-align: left;
}
main pre code {
  background-color: indigo;
  color: white;
  padding: 1em;
  display: inline-block;
}

footer {
  /* background-color: aliceblue; */
  /* background-color: indigo; */
  background-color: var(--color1);
  color: white;
  /* padding: 1em; */
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .title {
  display: none;
  margin: 0;
  transition: all 0.2s;
}
footer:hover .title {
  display: block;
}
footer a.fa {
  text-decoration: none;
  color: inherit;
  font-size: 2em;
  margin: auto 0.5em;
  transition: all 0.2s;
}
footer a.fa:hover {
  transform: scale(1.2);
}

@media (orientation: portrait) {
  footer:hover .title {
    display: none;
  }
}
