header,
footer {
  background-color: var(--color00);
  color: var(--color12);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}
header {
  border-bottom: 1px solid var(--color04);
}

footer {
  border-top: 1px solid var(--color04);
  flex-direction: row-reverse;
}
.logo {
  max-width: 30rem;
}

footer nav a .fa {
  /* color: var(--color16); */
  font-size: 1.5rem;
  margin: 1rem;
}
