/***

https://frank-gp.github.io/contact/contact-v2.css 

***/

.contact {
  --color-1: #80f;
  --color-2: #aaa;
  --color-white: #fff;
  --color-black: #555;
  background-color: var(--color-white);
  padding: 2em;
  border-radius: 0.3em;
  max-width: 35em;
  margin: 10vh auto;
}
.contact * {
  box-sizing: border-box;
  color: var(--color-2);
  border-radius: 0.3em;
}
.contact hr {
  border: none;
  border-bottom: thin solid var(--color-2);
  margin: 1em 0;
}
.contact h2 {
  color: var(--color-black);
}
.contact :is(aside, textarea) {
  position: relative;
  margin-top: 0.5em;
}
.contact :is(.data input, textarea) {
  width: 100%;
  padding: 1em 3em;
  outline: none;
  border: thin solid var(--color-2);
  font-family: inherit;
}
.contact :is(.data input, textarea)::placeholder {
  color: inherit;
}
.contact :is(.data input, textarea):focus {
  border: thin solid var(--color-1);
  color: var(--color-1);
}
.contact :is(.data input, textarea):focus ~ i {
  color: var(--color-1);
}
.contact textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 15em;
}
.contact i {
  position: absolute;
  left: 1em;
  top: 50%;
  transform: translateY(-50%);
}
.contact .message i {
  top: 2em;
}
.contact .btn-contact {
  border: none;
  padding: 1em 3em;
  background-color: var(--color-1);
  color: var(--color-white);
  position: relative;
}
.contact .btn-contact:hover:enabled {
  opacity: 0.8;
  cursor: pointer;
}
.contact .btn-contact i {
  color: inherit;
}
.contact .btn-area label {
  color: var(--color-black);
  cursor: pointer;
}
.btn-contact:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media (min-width: 50rem) {
  .contact .data {
    display: flex;
    gap: 1em;
  }
  .contact aside {
    flex: 1 1 auto;
  }
  .contact .btn-area {
    display: flex;
    align-items: center;
  }
  .contact .btn-area aside {
    flex: 0 1 auto;
  }
  .contact .btn-area label {
    margin-left: 2em;
  }
}
@media (max-width: 50rem) {
  .contact {
    text-align: center;
  }
}
