html, body {
  margin: 0;
  padding: 0;
}

.demo-editor {
  font-family: sans-serif;
  display: flex;
  min-height: 100vh;
}
.demo-editor h1 {
  margin: 4px;
}
.demo-editor .diffs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  header-display: flex;
}
.demo-editor .diffs .compare-container {
  width: auto;
  display: flex;
  flex-grow: 1;
  position: relative;
}
.demo-editor .diffs .compare-container #mergely {
  position: absolute;
  bottom: 0;
  top: 0;
  height: 100%;
}
.demo-editor .diffs footer {
  display: flex;
}