header {
  /* min-height: 90vh; */
  padding: 20vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../content/img/fgp-web-cover.jpg);
  background-size: cover;
  max-width: 100%;
  color: white;
  position: relative;
  z-index: 0;
}

header::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #002;
  background: linear-gradient(45deg, rgb(187, 50, 50), rgb(13, 36, 138));
  opacity: 0.5;
  z-index: -1;
  /* width: 100%; */
  /* height: 100%; */
}
