/* ========== nav-fgp ========== */

.nav_fpg {
  background: white;
  padding: 1rem 10vw;
  /* display: flex; */
  justify-content: space-between;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #8882;
  font-size: 1.5em;
  text-transform: capitalize;
  /* box-shadow: 0.1em 0.1em 0.5em 0em #0002; */
  z-index: 1;
}
/* ========== logo... ========== */
.nav_fpg h2 {
  display: inline-block;
  /* padding: 0; */
  /* margin: 0; */
}
/* ========== logo. ========== */

/* ========== Menu... ========== */
.nav_fpg ul {
  list-style: none;
  /* padding: 0; */
  display: grid;
  /* gap: 0.5rem; */
  display: none;
  margin-bottom: 0;
  text-align: right;
  /* background: #0001; */
}
/* @mobile... ========== */
@media (max-width: 55rem) {
  .nav_fpg ul {
    background: #8881;
    margin-top: 1rem;
  }
}
/* @mobile. ========== */
/* ========== Menu. ========== */

.nav_fpg li {
  border-bottom: 1px solid #0002;
  cursor: pointer;
  /* width: 100%; */
}
.nav_fpg li:hover,
.current-menu-item {
  color: tomato;
}
.nav_fpg a {
  /* border-bottom: 1px solid; */
  display: block;
  color: inherit;
  text-decoration: none;
}

/* ========== enable Grid Nav ========== */
.nav_fpg .ul_grid {
  display: grid;
}

/* ========== Nav Button ========== */
.nav_fpg .nav_btn_fgp {
  /* display: none; */
  position: absolute;
  top: 1rem;
  right: 1rem;
  /* font-size: 1.2em; */
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
}

/* ========== @media... ========== */
@media (min-width: 55rem) {
  .nav_fpg {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* padding: 1rem; */
  }
  .nav_fpg .nav_btn_fgp {
    display: none;
    /* position: absolute; */
  }

  .nav_fpg ul {
    display: flex;

    /* flex-direction: column; */
  }
  .nav_fpg li {
    margin: 0 1rem;
  }
}
/* ========== @media. ========== */
