@import url(https://frankgp.com/icon/icomoon/style.css);
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --color1: white;
  --color2: #224;
  --hover: peru;
}
* {
  box-sizing: border-box;
}
html {
  font-family: "Work Sans", sans-serif;
}
body {
  margin: 0;
  background-color: var(--color2);
  color: var(--color1);
  max-width: 120rem;
}
a {
  color: inherit;
}
img {
  width: 100%;
}

.p1 {
  padding: 1em;
}
.p2 {
  padding: 2em;
}
/* @media (max-width: 40rem) {
  body {
    background: peru;
  }
} */
main {
  max-width: 80em;
  margin: 10vh auto;
}

.tac {
  text-align: center;
}
/* 
    <h2>btn</h2>
    <link rel="stylesheet" href="./component/dark.css">
    <link rel="stylesheet" href="./component/btn.css">
    <a href="#" class="btn">button</a><br>
    <span class="btn">span</span>
    <div class="btn">div</div>
    <button class="btn">button</button>
 */

.btn, button {
  display: inline-block;
  padding: 0.5em 1em;
  border: 1px solid;
  text-decoration: none;
  color: inherit;
  /* background-color: #003; */
  /* color: #eee; */
  cursor: pointer;
  margin: 0.3em;
  background-color: transparent;
  font-size: 1em;
  font-family: inherit;
  &:hover {
    /* background-color: #fff; */
    opacity: 0.7;
  }
}
